<div class="container">
  <h1>Book "<%= @studio.name %>"</h1>
    <%= simple_form_for [@studio, @booking] do |f| %>
      <%= f.input :start_datetime, label: "From when?" %>
      <%= f.input :end_datetime, label: "To when?"%>

      <%= f.submit "Book!", class: "btn btn-success"%>
    <% end %>
</div>
