<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @studio.photo %>);">
  <div class="container">
    <h1> Your <%= @studio.user ==  current_user ? "Hosting" : "Booking" %> for "<%= @studio.name %>" </h1>
    <p>Status: <% if @booking.confirmed %>
      <span class="booking-status-confirmed">Confirmed</span>
      <% else %>
      <span class="booking-status-pending">Pending</span></p>
      <% end %>
  </div>
</div>

<div class="container mt-3">
  <p>Booking status: <%= @confirmation_status %></p>
  <!-- strftime() method is for formatting the date -->
  <p>Start date/time : <%= @booking.start_datetime.strftime("%a %b %d, %Y at %H:%M") %></p>
  <p>End date/time : <%= @booking.end_datetime.strftime("%a %b %d, %Y at %H:%M") %></p>

  <p>Booking time: <%= @booking_time %>hrs</p>
  <p>Booking price: $<%= '%.2f' % @booking_price %></p>
  <%= link_to "Back to studio search", studios_path, class:"btn btn-outline-primary" %>
</div>
