<div class="container text-justify">
  <div class="containter">
    <div class="d-flex justify-content-between mt-3 mb-3">
      <h1 class="btn btn-ghost">My Studios</h1> 
      <%= link_to "Add a studio", new_my_studio_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
  <!-- display pending -->
  <div class="container mt-3">
    <div class="bookings">
      <!-- display bookings pending confirmation by owner -->
      <!-- notification of users -->
      <div class="pending-bookings">
        <% if @pending_bookings.length > 0 %>
          <h2>Pending bookings</h2>
          <% @pending_bookings.each do |b| %>
            <div class="notification">
              <img src=<%= b.user.photo %> class="avatar-large"/>
              <div class="notification-content">
                  <div class="booking-name">
                    <%= link_to b.studio.name, booking_path(b) %>
                  </div>
              </div>
              <div class="notification-actions">
                  <!-- <div class="booking-confirm-button"> -->
                      <!-- display button for confirming booking  -->
                      <%= simple_form_for b do |f| %>
                      <!-- checks checkbox behind scenes -->
                      <%= f.input :confirmed, as: :hidden, input_html: {value: 1} %>
                      <%= f.submit "Confirm booking", class: "btn btn-flat" %>
                      <% end %>
                  <!-- </div> -->
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- display confirm -->
  <div class="container mt-3">
    <!-- display bookings confirmed by owner -->
    <% if @confirmed_bookings.length > 0 %>
    <hr>
      <h2>Confirmed bookings</h2>
      <!-- <div class="progress">
        <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div> -->

      <!-- <div class="container"> -->
          <% @confirmed_bookings.each do |b| %>
              <div class="notification mt-3">
                <img src=<%= b.user.photo %> class="avatar-large" />
                <div class="notification-content">
                  <%= link_to b.studio.name, booking_path(b) %>
                </div>
              </div>
          <% end %>
      <!-- </div> -->
    <% end %>
  </div>
</div>


<!-- display my_studios cards -->
<div class="container cards mt-5">
  <% @my_studios.each do |my_studio| %>
      <div class="card-trip">
          <img src= "<%= my_studio.photo %>" />
        <div class="card-trip-infos mt-2">
          <div>
            <h2> <%= link_to my_studio.name, my_studio_path(my_studio) %> </h2>
            <div class="mb-1">
              <p><%= my_studio.category %> - <%= my_studio.city %></p>
            </div>
            <%= link_to "edit", edit_my_studio_path(my_studio), class: "btn btn-outline-primary btn-sm"%>
            <%= link_to "delete", my_studio_path(my_studio), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
          <h2 class="card-trip-pricing">$<%= '%.2f' % my_studio.price_per_hour %>/hour</h2>
        </div>
      </div>
  <% end %>
</div>
