<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>List a Studio to Rent</h1>

      <%= simple_form_for(@my_studio, url: my_studios_path) do |s| %>
        <%= s.input :name %>
        <%= s.input :category %>
        <%= s.input :price_per_hour %>
        <%= s.input :address %>
        <%= s.input :city %>
        <%= s.input :description %>
        <%= s.input :photo %>
        <%= s.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
