<h1>MyStudios#show</h1>

<ul>
<li> <%= @my_studio.name %></li>
<li> <%= @my_studio.category %></li>
<li> <%= @my_studio.price_per_hour %></li>
<li> <%= @my_studio.city %></li>
<li> <%= @my_studio.description %></li>
</ul>


<h2>
  <%= link_to "Back to listing", my_studios_path, class: "btn btn-primary btn-lg"%> 
  <%= link_to "edit", edit_my_studio_path(@my_studio), class: "btn btn-success btn-lg"%> 
  <%= link_to "delete", my_studio_path(@my_studio), class: "btn btn-danger btn-lg", method: :delete, data: { confirm: "Are you sure?" } %> 
</h2>
